<div class="positionRelative">
  <ng-container *ngIf="showLoader">
    <div class="overlay"></div>
    <div class="progressBar">
      <mat-progress-spinner class="custom-spinner" [mode]="'indeterminate'" [value]="'Your Job Is Still Processing'"></mat-progress-spinner>
      <h2>Your Job Is Still Processing</h2>
    </div>
  </ng-container>
<ng-container *ngIf="showLoader">
  <div class="overlay"></div>
  <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
</ng-container>
<div class="pack-head">
  <div class="page-size">
    <h1>PSI BLAST Web Services</h1>
  </div>
</div>
<div class="page-size">
  <div class="form">
    <form [formGroup]="registrationForm">
      <h2>Job Dispatcher RESTful Web Services</h2>
      <p>PSI-BLAST allows users to construct and perform a NCBI BLAST search with a custom, position-specific, scoring matrix which can help find distant evolutionary relationships. 
        Users can specify pattern files to restrict search results using the PHI-BLAST functionality under 'more options'.</p>
      <div class="step-one-form">
        <h2>Step:1 - Enter your input sequence </h2>

        <div class="step-one-drop-down">
          <p>Enter a type of Matrix</p>
          <select formControlName="matrix">
            <option *ngFor="let Matrix of matrix.values.values" [ngValue]="Matrix.value">
              {{ Matrix.label }}
            </option>
          </select>
        </div>

        <p>Enter or paste a DNA/RNA sequence in any supported format:</p>
        <textarea style="width: 99%; resize: vertical; height: 200px; outline-color: #014371;" matInput
          placeholder="Your Message" cdkTextareaAutosize cdkAutosizeMinRows="6" formControlName="sequence">

      </textarea>
        <div class="btn">
          <button (click)="toggle()" id="equence-btn">
            Use a examples equence
          </button>
          <button (click)="handleClear()">Clear</button>
        </div>
      </div>
      <div class="step-two-form">
        <h2>STEP 2 - Select Parameters</h2>
        <p>Gapopen</p>
        <select formControlName="gapopen">
          <option *ngFor="let item of gapopen.values.values" [ngValue]="item.value">
            {{ item.label }}
          </option>
        </select>
        <p>Gapext</p>
        <select formControlName="gapext">
          <option *ngFor="let item of gapext.values.values" [ngValue]="item.value">
            {{ item.label }}
          </option>
        </select>
        <p>Expthr</p>
        <select formControlName="expthr">
          <option *ngFor="let Feature of expthr.values.values" [ngValue]="Feature.value">
            {{ Feature.label }}
          </option>
        </select>
        <div>
          <div class="more-option">
            <p>Psithr </p>
            <select formControlName="psithr">
              <option *ngFor="let item of psithr.values.values" [ngValue]="item.value" placeholder=" psithr">
                {{ item.label }}
              </option>
            </select>
          </div>
          <div class="more-option">
            <p>Scores</p>
            <select formControlName="scores">
              <option *ngFor="let Scores of scores.values.values" [ngValue]="Scores.value">
                {{ Scores.label }}
              </option>
            </select>
          </div>
          <div class="more-option">
            <p>Alignments</p>
            <select formControlName="alignments">
              <option *ngFor="let Alignments of alignments.values.values" [ngValue]="Alignments.value">
                {{ Alignments.label }}
              </option>
            </select>
          </div>
          <div class="more-option">
            <p>Alignment View</p>
            <select formControlName="alignView">
              <option *ngFor="let AlignView of alignView.values.values" [ngValue]="AlignView.value">
                {{ AlignView.label }}
              </option>
            </select>
          </div>
          <div class="more-option part">
            <p>Drop Off</p>
            <select formControlName="dropoff">
              <option *ngFor="let Dropoff of dropoff.values.values" [ngValue]="Dropoff.value">
                {{ Dropoff.label }}
              </option>
            </select>
          </div>
          <div class="more-option">
            <p>Final Drop Off</p>
            <select formControlName="finaldropoff">
              <option *ngFor="let Finaldropoff of finaldropoff.values.values" [ngValue]="Finaldropoff.value">
                {{ Finaldropoff.label }}
              </option>
            </select>
          </div>
          <div class="more-option">
            <p>Filter</p>
            <select formControlName="filter">
              <option *ngFor="let Filter of filter.values.values" [ngValue]="Filter.value">
                {{ Filter.label }}
              </option>
            </select>
          </div>
          <div class="more-option">
            <p>Seq Range</p>
            <select formControlName="seqrange">
              <option *ngFor="let Seqrange of seqrange.values.values" [ngValue]="Seqrange.value">
                {{ Seqrange.label }}
              </option>
            </select>
          </div>
          <div class="more-option part">
            <p>Database</p>
            <select formControlName="database">
              <option *ngFor="let Database of database.values.values" [ngValue]="Database.value">
                {{ Database.label }}
              </option>
            </select>
          </div>
          <div class="more-option">
            <p>Previous Job Id</p>
            <select formControlName="previousjobid">
              <option [ngValue]="previousjobid.type">
                {{ previousjobid.type}}
              </option>
            </select>
          </div>
          <div class="more-option">
            <p>{{ selectedHits.name }}</p>
            <select formControlName="selectedHits">
              <option [ngValue]="selectedHits.type">
                {{ selectedHits.type }}
              </option>
            </select>

          </div>
          <div class="more-option">
            <p>Cp File</p>
            <select formControlName="cpfile">
              <option [ngValue]="cpfile.type">
                {{ cpfile.type }}
              </option>
            </select>
          </div>

          <div class="more-option part">
            <p>Pat File</p>
            <select formControlName="patfile">
              <option [ngValue]="patfile.type">
                {{ patfile.type }}
              </option>
            </select>
          </div>

        </div>
      </div>

      <div class="step-three-form">
        <h2>STEP 3 - Submit your job</h2>
        <p>
          <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" (click)="checkbox()">
          Be notified by email (Tick this box if you want to be notified by email when the results are available)
        </p>
        <div *ngIf="show3">
          <div class="job-frm">
            <input id="textbox" type="text" placeholder="Email" formControlName="email">
            <input id="textbox" type="text" placeholder="Title" formControlName="title">
            <p>
              If available, the title will be included in the subject of the notification email and can be used as a way
              to
              identify your analysis</p>
          </div>
        </div>
        <button id="btnn" (click)="onSubmit(registrationForm.value)" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
</div>
