<div class="header">
  <div class="page-size">
    <div class="header-logo">
      <img src="../assets/images/CAMB-logo.png" alt="CAMB-logo" />
    </div>
    <div class="header-navigation">
      <ul>
        <li><a href="#">Data Formatting and Conversions</a>
          <div class="sub-menu">
            <ul>
              <li><a routerLink="/dataFormatting/EMBOSS">EMOSS seqret</a></li>
              <li><a routerLink="/dataFormatting/ceqret">Ceqret</a></li>
              <li><a href="#">Data Formatting and Conversions</a></li>

            </ul>
          </div>
        </li>
        <li><a href="#">DNA Analysis</a>
          <div class="sub-menu">
            <ul>
              <li><a href="#">DNA Analysis</a></li>
              <li><a href="#">DNA Analysis</a></li>
              <li><a href="#">DNA Analysis</a></li>
            </ul>
          </div>
        </li>
        <li><a href="#">Protein Analysis</a>
          <div class="sub-menu">
            <ul>
              <li><a href="#">Protein Analysis</a></li>
              <li><a href="#">Protein Analysis</a></li>
              <li><a href="#">Protein Analysis</a></li>
              <li><a href="#">Protein Analysis</a></li>


            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="info-navigation">
      <ul>
        <li><input type="search" id="gsearch"></li>
        <li><a href="mailto:info@gmail.com"><img src="../assets/images/email.png" alt="email" /></a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </div>

  </div>
</div>
<router-outlet></router-outlet>
