<div class="header">
  <div class="page-size">
    <div class="header-logo">
      <a routerLink="/home">
        <img src="assets/images/CAMB-logo.png" alt="CAMB-logo" />
      </a>
    </div>
    <div class="header-navigation">
      <ul>
        <li><a routerLink="/home"> Home </a></li>
        <li><a routerLink="/dataFormatting/Detail">Data Formatting </a></li>
        <li><a routerLink="/dataAnalysis/Detail"> DNA Analysis </a></li>
        <li><a routerLink="/protienAnalysis/Detail"> Protien Analysis </a></li>
      </ul>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Tools
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" routerLink="/dataFormatting/Detail" href="">Data Formatting </a>
          <a class="dropdown-item" routerLink="/dataAnalysis/Detail" href=""> DNA Analysis </a>
          <a class="dropdown-item" routerLink="/protienAnalysis/Detail" href=""> Protien Analysis </a>
        </div>
      </div>
    </div>
    <div class="info-navigation">
      <ul>
        <li><input type="search" id="gsearch"></li>
        <li><a href="mailto:info@gmail.com"><img src="assets/images/email.png" alt="email" /></a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </div>

  </div>
</div>
<script>
  const dropdownElementList = document.querySelectorAll('.dropdown-toggle')
  const dropdownList = [...dropdownElementList].map(dropdownToggleEl => new bootstrap.Dropdown(dropdownToggleEl))
</script>
