@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}
.page-size{
    width: 1200px;
    margin: 0 auto;
}
.header {
    padding: 20px 0;
    box-shadow: 3px 3px 5px 0 #cccccc6b;
    background-color: #fff;
}
.header-logo {
    display: inline-block;
    width: 20%;
    vertical-align: middle;
}
.header-logo img {
    width: 100%;
}
.header-navigation {
    display: inline-block;
    width: 53%;
    vertical-align: middle;
    text-align: center;
    position: relative;
}
.header-navigation ul li {
    display: inline-block;
}
.header-navigation ul li a {
    text-decoration: none;
    color: #014371;
    padding: 36px 10px;
    font-weight: 500;
    font-size: 15px;
}
.header-navigation ul {
    margin: 0;
    padding: 0;
}
.info-navigation {
    display: inline-block;
    width: 27%;
    vertical-align: middle;
    text-align: right;
}
.info-navigation ul li {
    display: inline-block;
    padding: 0 9px;
    vertical-align: middle;
}
.info-navigation ul li:last-child{
    padding-right: 0;
}
.info-navigation ul li a {
    text-decoration: none;
    color: #014371;
    font-weight: 500;
}
.info-navigation ul li img {
    width: 23px;
}
.info-navigation ul li input{
  padding: 8px 28px;
  border-radius: 5px;
  border: 1px solid #014371;
  outline: none;
  padding-left: 12px;
}
#gsearch {
  background-image: url(../../assets/images/search.png);
  background-repeat: no-repeat;
  background-position: center right 6px;
  background-size: 15px;
}
.info-navigation ul{
  margin: 0;
  padding: 0;
}

.sub-menu {
  display: none;
}
.header-navigation ul li{
  position: relative;
}
.header-navigation ul li .dropDown{
  background-image: url(../../assets/images/arrow-down.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 10px;
  padding-right: 17px;
}
::ng-deep .header-navigation ul li:hover .sub-menu{
  display: block !important;
  position: absolute;
  left: 6px;
  top: 53px;
  width: 220px;
  background-color: #fff;
  box-shadow: 3px 3px 5px 0 #cccccc6b;
}

.sub-menu ul li a{
  display: block;
  font-size: 14px;
  padding: 15px 12px !important;
  text-align: left;
  display: block;
}
.sub-menu ul li {
  display: block;
}

.mat-form-field {
  font-size: inherit;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;

}
::ng-deep.Menu-head {
  color: #014371;
  font-weight: 500;
  padding-bottom: 23px !important;
}
::ng-deep.mat-select-arrow {
  color: #014371 !important;
}
::ng-deep.mat-form-field-wrapper{
  padding: 0;
}
::ng-deep.mat-form-field-hide-placeholder .mat-select-placeholder {
  padding-bottom: 10px;
}

