<div class="footer">
  <div class="page-size">
    <div class="footer-navigation">
      <div class="footer-logo">
        <img src="../assets/images/CAMB-logo.png" alt="CAMB-logo" />
        <p>© 2001 - 2022 Uniport</p>
        <p>License & Disclaimer<span class="slash">|</span>Privacy Notice</p>
      </div>
    </div>
    <div class="footer-navigation">
      <h2>Tools</h2>
      <ul>
        <li><a href="#">Data Formatting and Conversions</a></li>
        <li><a href="#">DNA Analysis</a></li>
        <li><a href="#">Protein Cluster</a></li>
        <li><a href="#">Protein Analysis</a></li>
      </ul>
    </div>
    <div class="footer-navigation media-icons">
      <h2>Get In Touch</h2>
      <ul>
        <li class="facebook"><a href="#">facebook</a></li>
        <li class="twitter"><a href="#">twitter</a></li>
        <li class="youtube"><a href="#">youtube</a></li>
      </ul>
    </div>

  </div>
</div>
