<div class="container">
    <div class="row mainPadding">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <mat-tab-group animationDuration="0ms">
          <mat-tab label="DataAnalysis">
            <h2>Data Analysis an Conversions</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries,</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries,</p>
            <div class="row paddingTop">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <img src="../assets/images/sideImg.jpg" alt="" style="width:100%;">
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <img src="../assets/images/sideImg.jpg" alt="" style="width:100%;">
              </div>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries,</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries,</p>
          </mat-tab>
          <mat-tab label="Emboss Newcpgreport">
            <h2>Emboss Newcpgreport</h2>
            <p>Sixpack reads a DNA sequence and outputs the three forward and (optionally) three reverse translations in a
                visual manner.</p>
            <button class="btnFormating" [routerLink]="['/dataAnalysis/Newcpgreport']"
              routerLinkActive="router-link-active">
              Button</button>
          </mat-tab>
          <mat-tab label="GENE WISE">
            <h2>GENE WISE</h2>
            <p>Sixpack reads a DNA sequence and outputs the three forward and (optionally) three reverse translations in a
              visualmanner</p>
            <button class="btnFormating" [routerLink]="['/dataAnalysis/GeneWise']"
            routerLinkActive="router-link-active">Button</button>
          </mat-tab>
          <mat-tab label="SEQCK SUM">
            <h2>SEQCK SUM</h2>
            <p>Sixpack reads a DNA sequence and outputs the three forward and (optionally) three reverse translations in a
              visual manner.</p>
            <button class="btnFormating" [routerLink]="['/dataAnalysis/seqcksum']"
            routerLinkActive="router-link-active">Button</button>
          </mat-tab>
          <mat-tab label="ISOCHORE">
            <h2>ISOCHORE</h2>
            <p>Sixpack reads a DNA sequence and outputs the three forward and (optionally) three reverse translations in a
                visual manner.</p>
            <button class="btnFormating" [routerLink]="['/dataAnalysis/Isochore']"
            routerLinkActive="router-link-active">Button</button>
          </mat-tab>
          <mat-tab label="CPGPLOT">
            <h2>CPGPLOT</h2>
            <p>This tool provides sequence similarity searching against protein databases using the FASTM suite of programs.
              FASTM provides a heuristic search with a protein query. FASTX and FASTY translate a DNA query.
              Optimal searches are available with SSEARCH (local), GGSEARCH (global) and GLSEARCH (global query, local database).</p>
            <button class="btnFormating" [routerLink]="['/dataAnalysis/CPGPLOT']"
            routerLinkActive="router-link-active">Button</button>
          </mat-tab>
          <mat-tab label="TRANSEQ">
            <h2>Job Dispatcher RESTful Web Services</h2>
            <p>Sixpack reads a DNA sequence and outputs the three forward and (optionally) three reverse translations in a
              visual manner.</p>
            <button class="btnFormating" [routerLink]="['/dataAnalysis/Transeq']"
            routerLinkActive="router-link-active">Button</button>
          </mat-tab>
          <mat-tab label="BACKTRANSEQ">
            <h2>BACKTRANSEQ</h2>
            <p>This tool provides access to phylogenetic tree generation methods from the ClustalW2 package. Please note this
              is NOT a multiple sequence alignment tool.</p>
            <button class="btnFormating" [routerLink]="['/dataAnalysis/BackTranSeq']"
            routerLinkActive="router-link-active">Button</button>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>

