<div class="pack-head">
  <div class="page-size">
    <h1>Check SUM</h1>
  </div>
</div>
<div class="page-size">
  <div class="form">
    <form [formGroup]="registrationForm">

      <p>Produce checksums for sequences using a range of algorithms, including CRC32, CRC64-ISO, CRC64-ECMA-182, CRC32-CRC64, MD5, SHA1, and SHA2 with bit-lengths of 224, 256, 384, and 512.
      </p>
      <div class="step-one-form">
        <h2>Step:1 - Enter your input </h2>

        <p>Enter or paste a DNA/RNA sequence in any supported format:</p>
        <textarea style="width: 99%; resize: vertical; height: 200px; outline-color: #014371;" matInput
          placeholder="Your Message" cdkTextareaAutosize cdkAutosizeMinRows="6" formControlName="sequence">

      </textarea>
        <div class="btn">
          <button (click)="toggle()" id="equence-btn">
            Use a examples equence
          </button>
          <button (click)="handleClear()">Clear</button>
        </div>
      </div>
      <div class="step-two-form">
        <h2>STEP 2 - Select Parameters</h2>
        <p>Sequence Type</p>
        <select formControlName="stype">
          <option *ngFor="let item of stype.values.values" [ngValue]="item.value">
            {{ item.label }}
          </option>
        </select>
        <p>Check Sum Method</p>
        <select formControlName="cksmethod">
          <option *ngFor="let item of cksmethod.values.values" [ngValue]="item.value">
            {{ item.label }}
          </option>
        </select>
        <p>length</p>
        <select formControlName="length">
          <option *ngFor="let Feature of length.values.values" [ngValue]="Feature.value">
            {{ Feature.label }}
          </option>
        </select>
      </div>
      <div class="step-three-form">
        <h2>STEP 3 - Submit your job</h2>
        <p>
          <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" (click)="checkbox()">
          Be notified by email (Tick this box if you want to be notified by email when the results are available)
        </p>
        <div *ngIf="show3">
          <div class="job-frm">
            <input id="textbox" type="text" placeholder="Email" formControlName="email">
            <input id="textbox" type="text" placeholder="Title" formControlName="title">
            <p>
              If available, the title will be included in the subject of the notification email and can be used as a way
              to
              identify your analysis</p>
          </div>
        </div>
        <button id="btnn" (click)="onSubmit(registrationForm.value)" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
