<div class="pack-head">
  <div class="page-size">
    <h1>Simple Phylogeny</h1>
  </div>
</div>
<div class="page-size">
  <div class="form">
    <form [formGroup]="registrationForm">
      <h2>Simple Phylogeny</h2>
      <p>Sixpack reads a DNA sequence and outputs the three forward and (optionally) three reverse translations in a
        visual
        manner.</p>
      <div class="step-one-form">
        <label>Step:1 - Enter your input sequence </label>
        <p>Enter or paste a DNA/RNA sequence in any supported format:</p>
        <textarea style="width: 99%; resize: vertical; height: 200px; outline-color: #014371;" matInput
          placeholder="Your Message" cdkTextareaAutosize cdkAutosizeMinRows="6" formControlName="sequence">

      </textarea>
        <div class="btn">
          <button (click)="toggle()" id="equence-btn">
            Use a examples equence
          </button>
          <button (click)="handleClear()">Clear</button>
        </div>
      </div>
      <div class="step-two-form">
        <h2>STEP 2 - Select Parameters</h2>
        <p>Tree</p>
        <select formControlName="tree">
          <option *ngFor="let item of tree.values.values" [ngValue]="item.value">
            {{ item.label }}
          </option>
        </select>
        <p>Kimura</p>
        <select formControlName="kimura">
          <option *ngFor="let item of kimura.values.values" [ngValue]="item.value">
            {{ item.label }}
          </option>
        </select>
        <p>Tossgaps</p>
        <select formControlName="tossgaps">
          <option *ngFor="let Tossgaps of tossgaps.values.values" [ngValue]="tossgaps.value">
            {{ Tossgaps.label }}
          </option>
        </select>
        <div>
          <div class="more-option">
            <p>Clustering</p>
            <select formControlName="clustering">
              <option *ngFor="let Clustering of clustering.values.values" [ngValue]="clustering.value">
                {{ Clustering.label }}
              </option>
            </select>
          </div>

        </div>
        <div>
          <div class="more-option">
            <p>Pim</p>
            <select formControlName="pim">
              <option *ngFor="let Pim of pim.values.values" [ngValue]="pim.value">
                {{ Pim.label }}
              </option>
            </select>
          </div>

        </div>
      </div>
      <div class="step-three-form">
        <h2>STEP 3 - Submit your job</h2>
        <p>
          <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" (click)="checkbox()">
          Be notified by email (Tick this box if you want to be notified by email when the results are available)
        </p>
        <div *ngIf="show3">
          <div class="job-frm">
            <input id="textbox" type="text" placeholder="Email" formControlName="email">
            <input id="textbox" type="text" placeholder="Title" formControlName="title">
            <p>
              If available, the title will be included in the subject of the notification email and can be used as a way
              to
              identify your analysis</p>
          </div>
        </div>
        <button id="btnn" (click)="onSubmit(registrationForm.value)" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
