<div class="positionRelative">
<ng-container *ngIf="showLoader">
  <div class="overlay"></div>
  <div class="progressBar">
    <mat-progress-spinner class="custom-spinner" [mode]="'indeterminate'" [value]="'Your Job Is Still Processing'"></mat-progress-spinner>
    <h2>Your Job Is Still Processing</h2>
  </div>
</ng-container>
<div class="pack-head">
  <div class="page-size">
    <h1>EMBOSS Seqret</h1>
  </div>
</div>
<div class="page-size">
  <div class="form">
    <form [formGroup]="registrationForm">

      <p>EMBOSS seqret reads and writes (returns) sequences. It is useful for a variety of tasks, including extracting
        sequences from databases, displaying sequences, reformatting sequences, producing the reverse complement of a
        sequence, extracting fragments of a sequence, sequence case conversion or any combination of the above
        functions.</p>
      <div class="step-one-form">
        <h2>Step:1 - Enter your input sequence </h2>

        <div class="step-one-drop-down">
          <p>Enter a type of</p>
          <select formControlName="stype">
            <option *ngFor="let Stype of stypeList.values.values" [ngValue]="Stype.value" [selected]="Stype.defaultValue === true">
              {{ Stype.label }}
            </option>
          </select>
        </div>

        <p>Enter or paste a DNA/RNA sequence in any supported format:</p>
        <textarea style="width: 99%; resize: vertical; height: 200px; outline-color: #014371;" matInput
          placeholder="Your Message" cdkTextareaAutosize cdkAutosizeMinRows="6" formControlName="sequence">

      </textarea>
        <div class="btn">
          <button (click)="toggle()" id="equence-btn">
            Use a examples equence
          </button>
          <button (click)="handleClear()">Clear</button>
        </div>
      </div>
      <div class="step-two-form">
        <h2>STEP 2 - Select Parameters</h2>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <p>Input Format</p>
            <select formControlName="inputformat">
              <option *ngFor="let item of inputformat.values.values" [ngValue]="item.value" [selected]="item.defaultValue">
                {{ item.label }}
              </option>
            </select>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <p>Output Format</p>
            <select formControlName="outputformat">
              <option *ngFor="let item of outputformat.values.values" [ngValue]="item.value">
                {{ item.label }}
              </option>
            </select>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <p>Feature</p>
            <select formControlName="feature">
              <option *ngFor="let Feature of feature.values.values" [ngValue]="Feature.value">
                {{ Feature.label }}
              </option>
            </select>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <p>First Only </p>
            <select formControlName="firstonly">
              <option *ngFor="let item of firstonly.values.values" [ngValue]="item.value" placeholder=" FIRST ORF">
                {{ item.label }}
              </option>
            </select>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <p>Reverse</p>
            <select formControlName="reverse">
              <option *ngFor="let Reverse of reverse.values.values" [ngValue]="Reverse.value">
                {{ Reverse.label }}
              </option>
            </select>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <p>Output Case</p>
            <select formControlName="outputcase">
              <option *ngFor="let Outputcase of outputcase.values.values" [ngValue]="Outputcase.value">
                {{ Outputcase.label }}
              </option>
            </select>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <p>Sequence Range</p>
            <select formControlName="seqrange">
              <option *ngFor="let Seqrange of seqrange.values.values" [ngValue]="Seqrange.value">
                {{ Seqrange.label }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="step-three-form">
        <h2>STEP 3 - Submit your job</h2>
        <p>
          <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" (click)="checkbox()">
          Be notified by email (Tick this box if you want to be notified by email when the results are available)
        </p>
        <div *ngIf="show3">
          <div class="job-frm">
            <input id="textbox" type="text" placeholder="Email" formControlName="email">
            <input id="textbox" type="text" placeholder="Title" formControlName="title">
            <p>
              If available, the title will be included in the subject of the notification email and can be used as a way
              to
              identify your analysis</p>
          </div>
        </div>
        <button id="btnn" (click)="onSubmit(registrationForm.value)" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
</div>
