<div class="container">
    <div class="row mainPadding">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <mat-tab-group animationDuration="0ms">
          <mat-tab label="Tool Name">
            <h2>Protien Analysis an Conversions</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries,</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries,</p>
            <div class="row paddingTop">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <img src="../assets/images/sideImg.jpg" alt="" style="width:100%;">
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <img src="../assets/images/sideImg.jpg" alt="" style="width:100%;">
              </div>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries,</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries,</p>
          </mat-tab>
          <mat-tab label="PEPINFO">
            <h2>PEPINFO</h2>
            <p>Pepinfo creates a variety of plots that display different amino acid properties, such as hydropathy or charged residues, and their position in the sequence.</p>
            <button class="btnFormating" [routerLink]="['/protienAnalysis/pepInfo']"
              routerLinkActive="router-link-active">
              Button</button>
          </mat-tab>
          <mat-tab label="PEPSTAT">
            <h2>PEPSTAT</h2>
            <p>Pepstats calculates statistics for your protein such as molecular weight, isoelectric point etc.</p>
            <button class="btnFormating" [routerLink]="['/protienAnalysis/pepstat']"
            routerLinkActive="router-link-active">Button</button>
          </mat-tab>
          <mat-tab label="PEPWINDOW">
            <h2>PEPWINDOW</h2>
            <p>Sixpack reads a DNA sequence and outputs the three forward and (optionally) three reverse translations in a
              visual manner.</p>
            <button class="btnFormating" [routerLink]="['/protienAnalysis/pepwindow']"
            routerLinkActive="router-link-active">Button</button>
          </mat-tab>
          <mat-tab label="SATSISTS">
            <h2>SATSISTS</h2>
            <p>This tool provides sequence similarity searching against protein databases using the FASTA suite of programs.
              FASTA provides a heuristic search with a protein query. FASTX and FASTY translate a DNA query.
              Optimal searches are available with SSEARCH (local), GGSEARCH (global) and GLSEARCH (global query, local database).</p>
            <button class="btnFormating" [routerLink]="['/protienAnalysis/ststists']"
            routerLinkActive="router-link-active">Button</button>
          </mat-tab>
          <mat-tab label="WATER">
            <h2>Pairwise Sequence Alignment</h2>
            <p>EMBOSS Water uses the Smith-Waterman algorithm (modified for speed enhancements) to calculate the local alignment of two sequences.</p>
            <button class="btnFormating" [routerLink]="['/protienAnalysis/water']"
            routerLinkActive="router-link-active">Button</button>
          </mat-tab>
          <mat-tab label="PRATT">
            <h2>Job Dispatcher RESTful Web Services</h2>
            <p>Sixpack reads a DNA sequence and outputs the three forward and (optionally) three reverse translations in a
              visual manner.</p>
            <button class="btnFormating" [routerLink]="['/protienAnalysis/pratt']"
            routerLinkActive="router-link-active">Button</button>
          </mat-tab>
          <mat-tab label="EMBL-EBI">
            <h2>EMBL-EBI</h2>
            <p>This tool provides access to phylogenetic tree generation methods from the ClustalW2 package. Please note this
              is NOT a multiple sequence alignment tool.</p>
            <button class="btnFormating" [routerLink]="['/protienAnalysis/EMBL-EBI']"
            routerLinkActive="router-link-active">Button</button>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
  