<div class="pack-head">
  <div class="page-size">
    <h1>EMBOSS Water</h1>
  </div>
</div>
<div class="page-size">
  <div class="form">
    <form [formGroup]="registrationForm">
      <h2>Pairwise Sequence Alignment</h2>
      <p>EMBOSS Water uses the Smith-Waterman algorithm (modified for speed enhancements) to calculate the local alignment of two sequences.</p>
      <div class="step-one-form">
        <div>
            <p>Enter a pair of</p>
            <select  formControlName="stype">
              <option *ngFor="let item of stype.values.values" [ngValue]="item.value">
                {{ item.label }}
              </option>
            </select>
        </div>
        <label>Step:1 - Enter your input sequence </label>
        <p>sequences. Enter or paste your first protein sequence in any supported format:</p>
        <textarea style="width: 99%; resize: vertical; height: 200px; outline-color: #014371;" matInput
          placeholder="Your Message" cdkTextareaAutosize cdkAutosizeMinRows="6" formControlName="asequence">
      </textarea>
      <label>And</label>
      <p>Enter or paste your second protein sequence in any supported format:</p>
      <textarea style="width: 99%; resize: vertical; height: 200px; outline-color: #014371;" matInput
        placeholder="Your Message" cdkTextareaAutosize cdkAutosizeMinRows="6" formControlName="bsequence">
    </textarea>
        <div class="btn">
          <button (click)="toggle()" id="equence-btn">
            Use a examples equence
          </button>
          <button (click)="handleClear()">Clear</button>
        </div>
      </div>
      <div class="step-two-form">
        <p><label>STEP 2 - Select Parameters</label></p>
        <div>
          <div class="more-option">
            <p>Gapopen</p>
            <select formControlName="gapopen">
              <option *ngFor="let item of gapopen.values.values" [ngValue]="item.value">
                {{ item.label }}
              </option>
            </select>
          </div>
        </div>
        <div class="more-option">
          <p>Gapext</p>
          <select formControlName="gapext">
            <option *ngFor="let item of gapext.values.values" [ngValue]="item.value">
              {{ item.label }}
            </option>
          </select>
        </div>
        <div class="more-option">
          <p>Format</p>
          <select formControlName="format">
            <option *ngFor="let item of format.values.values" [ngValue]="item.value">
              {{ item.label }}
            </option>
          </select>
        </div>
        <div class="more-option">
          <p>Matrix</p>
          <select formControlName="matrix">
            <option *ngFor="let item of matrix.values.values" [ngValue]="item.value">
              {{ item.label }}
            </option>
          </select>
        </div>
      </div>

      <div class="step-three-form">
        <label>STEP 3 - Submit your job</label>
        <p>
          <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" (click)="checkbox()">
          Be notified by email (Tick this box if you want to be notified by email when the results are available)
        </p>
        <div *ngIf="show3">
          <div class="job-frm">
            <input id="textbox" type="text" placeholder="EMAil" formControlName="email">
            <input id="textbox" type="text" placeholder="TITLE" formControlName="title">
            <p>
              If available, the title will be included in the subject of the notification email and can be used as a way
              to
              identify your analysis</p>
          </div>
        </div>
        <button id="btnn" (click)="onSubmit(registrationForm.value)" type="submit">Submit</button>
      </div>
    </form>
  </div>

