
<div class="positionRelative">
  <ng-container *ngIf="showLoader">
    <div class="overlay"></div>
    <div class="progressBar">
      <mat-progress-spinner class="custom-spinner" [mode]="'indeterminate'" [value]="'Your Job Is Still Processing'"></mat-progress-spinner>
      <h2>Your Job Is Still Processing</h2>
    </div>
  </ng-container>
<div class="pack-head">
  <div class="page-size">
    <h1>EMBL-EBI Web Services</h1>
  </div>
</div>
<div class="page-size">
  <div class="form">
    <form [formGroup]="registrationForm">
      <h2>NCBI BLAST+</h2>
      <p>BLAST stands for Basic Local Alignment Search Tool.The emphasis of this tool is to find regions of sequence similarity, 
        which will yield functional and evolutionary clues about the structure and function of your sequence.</p>
      <div class="step-one-form">
        <h2>Step:1 - Enter your input sequence </h2>

        <div class="step-one-drop-down">
          <p>Enter a type of Matrix</p>
          <select formControlName="matrix">
            <option *ngFor="let Matrix of matrix.values.values" [ngValue]="Matrix.value">
              {{ Matrix.label }}
            </option>
          </select>
        </div>

        <p>Enter or paste a DNA/RNA sequence in any supported format:</p>
        <textarea style="width: 99%; resize: vertical; height: 200px; outline-color: #014371;" matInput
          placeholder="Your Message" cdkTextareaAutosize cdkAutosizeMinRows="6" formControlName="sequence">
      </textarea>
        <div class="btn">
          <button (click)="toggle()" id="equence-btn">
            Use a examples equence
          </button>
          <button (click)="handleClear()">Clear</button>
        </div>
      </div>
      <div class="step-two-form">
        <h2>STEP 2 - Select Parameters</h2>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <p>Gapopen</p>
            <select formControlName="gapopen">
              <option *ngFor="let item of gapopen.values.values" [ngValue]="item.value">
                {{ item.label }}
              </option>
            </select>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <p>Gapext</p>
            <select formControlName="gapext">
              <option *ngFor="let item of gapext.values.values" [ngValue]="item.value">
                {{ item.label }}
              </option>
            </select>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <p>Task</p>
            <select formControlName="task">
              <option *ngFor="let Task of task.values.values" [ngValue]="Task.value">
                {{ Task.label }}
              </option>
            </select>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <p>Program </p>
            <select formControlName="program">
              <option *ngFor="let item of program.values.values" [ngValue]="item.value" placeholder=" psithr">
                {{ item.label }}
              </option>
            </select>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <p>Scores</p>
            <select formControlName="scores">
              <option *ngFor="let scores of scores.values.values" [ngValue]="scores.value">
                {{ scores.label }}
              </option>
            </select>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <p>Alignments</p>
            <select formControlName="alignments">
              <option *ngFor="let Alignments of alignments.values.values" [ngValue]="Alignments.value">
                {{ Alignments.label }}
              </option>
            </select>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <p>dropoff</p>
            <select formControlName="dropoff">
              <option *ngFor="let Dropoff of dropoff.values.values" [ngValue]="Dropoff.value">
                {{ Dropoff.label }}
              </option>
            </select>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <p>Exp</p>
            <select formControlName="exp">
              <option *ngFor="let Exp of exp.values.values" [ngValue]="Exp.value">
                {{ Exp.label }}
              </option>
            </select>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <p>Filter</p>
            <select formControlName="filter">
              <option *ngFor="let Filter of filter.values.values" [ngValue]="Filter.value">
                {{ Filter.label }}
              </option>
            </select>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <p>Seqrange</p>
            <select formControlName="seqrange">
              <option *ngFor="let Seqrange of seqrange.values.values" [ngValue]="Seqrange.value">
                {{ Seqrange.label }}
              </option>
            </select>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <p>Database</p>
            <select formControlName="database">
              <option *ngFor="let Database of database.values.values" [ngValue]="Database.value">
                {{ Database.label }}
              </option>
            </select>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <p>Match_scores</p>
            <select formControlName="match_scores">
              <option *ngFor="let Match_scores of match_scores.values.values" [ngValue]="Match_scores.value">
                {{ Match_scores.label}}
              </option>
            </select>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <p>Hsps</p>
            <select formControlName="hsps">
              <option *ngFor="let Hsps of hsps.values.values" [ngValue]="Hsps.value">
                {{ Hsps.label }}
              </option>
            </select>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <p>Gapalign</p>
            <select formControlName="gapalign">
              <option *ngFor="let Gapalign of gapalign.values.values" [ngValue]="Gapalign.value">
                {{ Gapalign.label }}
              </option>
            </select>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <p>Wordsize</p>
            <select formControlName="wordsize">
              <option *ngFor="let Wordsize of wordsize.values.values" [ngValue]="Wordsize.value">
                {{ Wordsize.label }}
              </option>
            </select>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <p>Taxids</p>
            <!-- <select formControlName="taxids">
              <option *ngFor="let Taxids of taxids.values" [ngValue]="taxids.value">
                {{ Taxids.name }}
              </option>
            </select> -->
            <input type="text" formControlName="taxids">
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <p>Compstats</p>
            <select formControlName="compstats">
              <option *ngFor="let Compstats of compstats.values.values" [ngValue]="Compstats.value">
                {{ Compstats.label }}
              </option>
            </select>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <p>Align</p>
            <select formControlName="align">
              <option *ngFor="let Align of align.values.values" [ngValue]="Align.value">
                {{ Align.label }}
              </option>
            </select>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <p>Transltable</p>
            <select formControlName="transltable">
              <option *ngFor="let Transltable of transltable.values.values" [ngValue]="Transltable.value">
                {{ Transltable.label }}
              </option>
            </select>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <p>Stype</p>
            <select formControlName="stype">
              <option *ngFor="let Stype of stype.values.values" [ngValue]="Stype.value">
                {{ Stype.label }}
              </option>
            </select>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <p>Negative_taxids</p>
            <!-- <select formControlName="negative_taxids">
              <option *ngFor="let Negative_taxids of negative_taxids.values.values" [ngValue]="negative_taxids.value">
                {{ Negative_taxids.label }}
              </option>
            </select> -->
            <input type="test" formControlName="negative_taxids">
          </div>
          
        </div>
      </div>
      <div class="step-three-form">
        <h2>STEP 3 - Submit your job</h2>
        <p>
          <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" (click)="checkbox()">
          Be notified by email (Tick this box if you want to be notified by email when the results are available)
        </p>
        <div *ngIf="show3">
          <div class="job-frm">
            <input id="textbox" type="text" placeholder="Email" formControlName="email">
            <input id="textbox" type="text" placeholder="Title" formControlName="title">
            <p>
              If available, the title will be included in the subject of the notification email and can be used as a way
              to
              identify your analysis</p>
          </div>
        </div>
        <button id="btnn" (click)="onSubmit(registrationForm.value)" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
</div>
