.mat-progress-spinner {
  display: inline-block;
  position: fixed;
  overflow: hidden !important;
  left: 0;
  right: 0;
  top: 40%;
  margin: 0 auto;
}
.overlay:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
}
::ng-deep.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #014371 !important;
}

