@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}
.page-size{
    width: 1300px;
    margin: 0 auto;
}
.header {
    padding: 10px 0;
    box-shadow: 3px 3px 5px 0 #cccccc6b;
    background-color: #fff;
}
.header-logo {
    display: inline-block;
    width: 20%;
    vertical-align: middle;
}
.header-logo img {
    width: 100%;
}
.header-navigation {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    text-align: center;
    position: relative;
}
.header-navigation ul li {
    display: inline-block;
}
.header-navigation ul li a {
    text-decoration: none;
    color: #014371;
    padding: 36px 10px;
    font-weight: 500;
    font-size: 15px;
}
.header-navigation ul {
    margin: 0;
    padding: 0;
}
.info-navigation {
    display: inline-block;
    width: 29.3%;
    vertical-align: middle;
    text-align: right;
}
.info-navigation ul li {
    display: inline-block;
    padding: 0 9px;
    vertical-align: middle;
}
.info-navigation ul li:last-child{
    padding-right: 0;
}
.info-navigation ul li a {
    text-decoration: none;
    color: #014371;
    font-weight: 500;
}
.info-navigation ul li img {
    width: 23px;
}
.info-navigation ul li input{
    padding: 8px 28px;
    border-radius: 5px;
    border: 2px solid #014371;
    outline: none;
}
#gsearch {
    background-image: url(../assets/images/search.png);
    background-repeat: no-repeat;
    background-position: center right 6px;
    background-size: 18px;
}
.info-navigation ul{
    margin: 0;
    padding: 0;
}
.footer {
    background-color: #e4e8eb;
    padding: 4% 0;
    margin-top: 262px;

}
.footer-navigation ul {
    margin: 0;
    padding: 0;
}
.footer-navigation {
    display: inline-block;
    width: 33%;
    vertical-align: top;
}
.footer-navigation ul li {
    list-style: none;
    padding-bottom: 14px;
}
.footer-navigation ul li a {
    text-decoration: none;
    color: #014371;
    font-weight: 500;
    font-size: 15px;
}
.footer-logo img {
    width: 259px;
}
.footer-logo p {
    font-size: 14px;
}
.slash {
    margin: 0 7px;
}
.footer-navigation h2 {
    margin: 0;
    padding-bottom: 20px;
}
.facebook a, .twitter a, .youtube a {
    background-image: url(../assets/images/facebook.png) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 21px;
    display: block;
    text-indent: -9999px;
    width: 30px;
    height: 32px;
    margin-right: 5px;
}
.twitter a {
    background-image: url(../assets/images/twitter.png) !important;
    background-size: 26px;
}
.youtube a {
    background-image: url(../assets/images/youtube.png) !important;
    background-size: 26px;
}
.media-icons ul li {
    display: inline-block;
}
.media-icons ul li {
    padding-bottom: 0 !important;
}
.sub-menu {
  display: none;
}
.header-navigation ul li{
  position: relative;
}
::ng-deep .header-navigation ul li:hover .sub-menu{
  display: block !important;
  position: absolute;
  left: 6px;
  top: 53px;
  width: 197px;
  background-color: #fff;
  box-shadow: 3px 3px 5px 0 #cccccc6b;
}

.sub-menu ul li a{
  display: block;
  font-size: 14px;
  padding: 20px 10px !important;
  text-align: left;
  display: block;
}
.sub-menu ul li {
  display: block;
}
