<div class="pack-head">
  <div class="page-size">
    <h1>GENE WISE</h1>
  </div>
</div>
<div class="page-size">
  <div class="form">
    <form [formGroup]="registrationForm">

      <p>Enables the comparison of a protein sequence with a genomic DNA sequence, taking into account the presence of introns and the possibility of errors in the reading frame.</p>
      <div class="step-one-form">
        <h2>Step:1 - Enter your input </h2>

        <p>Enter or paste a DNA/RNA sequence in any supported format:</p>
        <p>A sequence :</p>
        <textarea style="width: 99%; resize: vertical; height: 200px; outline-color: #014371;" matInput
          placeholder="Your Message" cdkTextareaAutosize cdkAutosizeMinRows="6" formControlName="asequence">

        </textarea>
        <p>B sequence :</p>
        <textarea style="width: 99%; resize: vertical; height: 200px; outline-color: #014371;" matInput
          placeholder="Your Message" cdkTextareaAutosize cdkAutosizeMinRows="6" formControlName="bsequence">
        </textarea>
        <div class="btn">
          <button (click)="toggle()" id="equence-btn">
            Use a examples equence
          </button>
          <button (click)="handleClear()">Clear</button>
        </div>
      </div>
      <div class="step-two-form">
        <h2>STEP 2 - Select Parameters</h2>
        <p>Parameters</p>
        <select formControlName="para">
          <option *ngFor="let item of para.values.values" [ngValue]="item.value">
            {{ item.label }}
          </option>
        </select>
        <p>Pretty ASCII</p>
        <select formControlName="pretty">
          <option *ngFor="let item of pretty.values.values" [ngValue]="item.value">
            {{ item.label }}
          </option>
        </select>
        <p>Genes Structure</p>
        <select formControlName="genes">
          <option *ngFor="let Feature of genes.values.values" [ngValue]="Feature.value">
            {{ Feature.label }}
          </option>
        </select>
        <p>Translation </p>
        <select formControlName="trans">
          <option *ngFor="let item of trans.values.values" [ngValue]="item.value">
            {{ item.label }}
          </option>
        </select>
        <p>cDNA </p>
        <select formControlName="cdna">
          <option *ngFor="let item of cdna.values.values" [ngValue]="item.value">
            {{ item.label }}
          </option>
        </select>
        <p>EMBL Feature </p>
        <select formControlName="embl">
          <option *ngFor="let item of embl.values.values" [ngValue]="item.value">
            {{ item.label }}
          </option>
        </select>
        <p>ACE File Gene Structure </p>
        <select formControlName="ace">
          <option *ngFor="let item of ace.values.values" [ngValue]="item.value">
            {{ item.label }}
          </option>
        </select>
        <p>GFF Output </p>
        <select formControlName="gff">
          <option *ngFor="let item of gff.values.values" [ngValue]="item.value">
            {{ item.label }}
          </option>
        </select>
        <p>EMBL Feature For diana </p>
        <select formControlName="diana">
          <option *ngFor="let item of diana.values.values" [ngValue]="item.value">
            {{ item.label }}
          </option>
        </select>
        <p>Init </p>
        <select formControlName="init">
          <option *ngFor="let item of init.values.values" [ngValue]="item.value">
            {{ item.label }}
          </option>
        </select>
        <p>Splice Site</p>
        <select formControlName="splice">
          <option *ngFor="let item of splice.values.values" [ngValue]="item.value">
            {{ item.label }}
          </option>
        </select>
        <p>Random Model</p>
        <select formControlName="random">
          <option *ngFor="let item of random.values.values" [ngValue]="item.value">
            {{ item.label }}
          </option>
        </select>
        <p>Algorithm </p>
        <select formControlName="alg">
          <option *ngFor="let item of alg.values.values" [ngValue]="item.value">
            {{ item.label }}
          </option>
        </select>
      </div>

      <div class="step-three-form">
        <h2>STEP 3 - Submit your job</h2>
        <p>
          <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" (click)="checkbox()">
          Be notified by email (Tick this box if you want to be notified by email when the results are available)
        </p>
        <div *ngIf="show3">
          <div class="job-frm">
            <input id="textbox" type="text" placeholder="Email" formControlName="email">
            <input id="textbox" type="text" placeholder="Title" formControlName="title">
            <p>
              If available, the title will be included in the subject of the notification email and can be used as a
              way
              to
              identify your analysis</p>
          </div>
        </div>
        <button id="btnn" (click)="onSubmit(registrationForm.value)" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
