<div class="positionRelative">
  <ng-container *ngIf="showLoader">
    <div class="overlay"></div>
    <div class="progressBar">
      <mat-progress-spinner class="custom-spinner" [mode]="'indeterminate'" [value]="'Your Job Is Still Processing'"></mat-progress-spinner>
      <h2>Your Job Is Still Processing</h2>
    </div>
  </ng-container>
<div class="pack-head">
  <div class="page-size">
    <h1>ISOCHORE</h1>
  </div>
</div>
<div class="page-size">
  <div class="form">
    <form [formGroup]="registrationForm">

      <p>Generate a graphical representation of isochores within DNA sequences.</p>
      <div class="step-one-form">
        <h2>Step:1 - Enter your input </h2>

        <p>Enter or paste a DNA/RNA sequence in any supported format:</p>
        <textarea style="width: 99%; resize: vertical; height: 200px; outline-color: #014371;" matInput
          placeholder="Your Message" cdkTextareaAutosize cdkAutosizeMinRows="6" formControlName="sequence">

      </textarea>
        <div class="btn">
          <button (click)="toggle()" id="equence-btn">
            Use a examples equence
          </button>
          <button (click)="handleClear()">Clear</button>
        </div>
      </div>
      <div class="step-two-form">
        <h2>STEP 2 - Select Parameters</h2>
        <p>Window Size</p>
        <select formControlName="window">
          <option *ngFor="let item of window.values.values" [ngValue]="item.value">
            {{ item.label }}
          </option>
        </select>
        <p>shift</p>
        <select formControlName="shift">
          <option *ngFor="let item of shift.values.values" [ngValue]="item.value">
            {{ item.label }}
          </option>
        </select>
      </div>
      <div class="step-three-form">
        <h2>STEP 3 - Submit your job</h2>
        <p>
          <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" (click)="checkbox()">
          Be notified by email (Tick this box if you want to be notified by email when the results are available)
        </p>
        <div *ngIf="show3">
          <div class="job-frm">
            <input id="textbox" type="text" placeholder="Email" formControlName="email">
            <input id="textbox" type="text" placeholder="Title" formControlName="title">
            <p>
              If available, the title will be included in the subject of the notification email and can be used as a way
              to
              identify your analysis</p>
          </div>
        </div>
        <button id="btnn" (click)="onSubmit(registrationForm.value)" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
</div>
