<div class="pack-head">
  <div class="page-size">
    <h1>EMBOSS Sixpack</h1>
  </div>
</div>
<div class="page-size">
  <div class="form">
    <form [formGroup]="registrationForm">
      <h2>EMBOSS Sixpack</h2>
      <p>Sixpack reads a DNA sequence and outputs the three forward and (optionally) three reverse translations in a
        visual
        manner.</p>
      <div class="step-one-form">
        <label>Step:1 - Enter your input sequence </label>
        <p>Enter or paste a DNA/RNA sequence in any supported format:</p>
        <textarea style="width: 99%; resize: vertical; height: 200px; outline-color: #014371;" matInput
          placeholder="Your Message" cdkTextareaAutosize cdkAutosizeMinRows="6" formControlName="sequence">

      </textarea>
        <div class="btn">
          <button (click)="toggle()" id="equence-btn">
            Use a examples equence
          </button>
          <button (click)="handleClear()">Clear</button>
        </div>
      </div>
      <div class="step-two-form">
        <p><label>STEP 2 - Select Parameters</label></p>
        <p>codontable</p>
        <select formControlName="codontable">
          <option *ngFor="let item of codontable.values.values" [ngValue]="item.value">
            {{ item.label }}
          </option>
        </select>
        <p>outputformat</p>
        <select formControlName="orfminsize">
          <option *ngFor="let item of orfminsize.values.values" [ngValue]="item.value">
            {{ item.label }}
          </option>
        </select>
        <p>feature</p>
        <select formControlName="firstorf">
          <option *ngFor="let Feature of firstorf.values.values" [ngValue]="Feature.value">
            {{ Feature.label }}
          </option>
        </select>
        <div>
          <!-- <div class="more-option">
            <p>firstonly </p>
            <select formControlName="firstonly">
              <option *ngFor="let item of firstonly.values.values" [ngValue]="item.value" placeholder=" FIRST ORF">
                {{ item.label }}
              </option>
            </select>
          </div> -->
          <div class="more-option">
            <p>REVERSE</p>
            <select formControlName="reverse">
              <option *ngFor="let Reverse of reverse.values.values" [ngValue]="Reverse.value">
                {{ Reverse.label }}
              </option>
            </select>
          </div>
          <!-- <div class="more-option">
            <p>outputcase</p>
            <select formControlName="outputcase">
              <option *ngFor="let Outputcase of outputcase.values.values" [ngValue]="Outputcase.value">
                {{ Outputcase.label }}
              </option>
            </select>
          </div> -->
          <!-- <div class="more-option">
            <p>seqrange</p>
            <select formControlName="seqrange">
              <option *ngFor="let Seqrange of seqrange.values.values" [ngValue]="Seqrange.value">
                {{ Seqrange.label }}
              </option>
            </select>
          </div> -->
        </div>
      </div>
      <div class="step-three-form">
        <label>STEP 3 - Submit your job</label>
        <p>
          <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" (click)="checkbox()">
          Be notified by email (Tick this box if you want to be notified by email when the results are available)
        </p>
        <div *ngIf="show3">
          <div class="job-frm">
            <input id="textbox" type="text" placeholder="EMAil" formControlName="email">
            <input id="textbox" type="text" placeholder="TITLE" formControlName="title">
            <p>
              If available, the title will be included in the subject of the notification email and can be used as a way
              to
              identify your analysis</p>
          </div>
        </div>
        <button id="btnn" (click)="onSubmit(registrationForm.value)" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
