/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f7f6f6;
}

.page-size {
  width: 1200px;
  margin: 0 auto;
}
.pack-head {
  padding: 2% 0;
  background-color: #014371;
}
.pack-head h1 {
  font-size: 24px;
  margin: 0;
  color: #fff;
  font-weight: 400;
}
.form{
  padding: 5% 0;
}
.form h2 {
  font-size: 30px;
  color: #014371;
  font-weight: 400;
  margin: 0;
  padding: 23px 0;
}
.step-one-form,
.step-two-form,
.step-three-form {
  background-color: #fff;
  padding: 4%;
  margin-top: 3%;
  box-shadow: 0 16px 40px 0 rgb(112 144 176 / 20%);
  -moz-border-radius: 30px;
  border-radius: 30px;
  margin-bottom: 6%;
}
.step-one-drop-down{
  margin-top: 3%;
}
.btn {
  margin-top: 2%;
}
#equence-btn {
  margin-right: 23px;
}
.btn button,
.step-two-form button,
.step-three-form button {
  background-color: #014371;
  color: #fff;
  padding: 13px 18px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.step-one-form h2,
.step-two-form h2,
.step-three-form h2 {
  font-size: 20px;
  color: #014371;
  font-weight: 500;
  padding: 0;

}
.step-two-form input,
.job-frm input {
  width: 46%;
  padding: 7px 6px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  color: #000;
}

.more-option input,
.job-frm input {
  width: 46%;
  margin-right: 20px;
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  color: #000;
}
.step-two-form select,
.more-option input {
  width: 100% !important;
  padding: 7px 6px;
  margin-right: 20px;
  outline-color: #014371;
}
.more-option input:last-child,
.job-frm input:last-child {
  margin-right: 0;
}
.more-option {
  display: inline-block;
  width: 23%;
  margin-right: 2%;
}
.more-option:last-child {
  margin-right: 0;
}
.step-one-drop-down select, .step-two-form select {
  width: 100%;
  padding: 7px 6px;
  margin-bottom: 23px;
  outline-color: #014371;
  border: 1px solid #ccc;

}
.form form textarea, .step-two-form textarea{
  width: 98% !important;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  color: #000;
}
.step-one-drop-down select:focus, .form form textarea:focus,
.step-two-form textarea:focus, .more-option input:focus,
.job-frm input:focus{
  outline: none;
}
.job-frm input::placeholder{
  font-size: 14px;
}
.more-option:last-child{
  margin-right: 0;
}


