<div class="container">
  <div class="row mainPadding">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Tool Name">
          <h2>Data Formatting an Conversions</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries,</p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries,</p>
          <div class="row paddingTop">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <img src="../assets/images/sideImg.jpg" alt="" style="width:100%;">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <img src="../assets/images/sideImg.jpg" alt="" style="width:100%;">
            </div>
          </div>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries,</p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries,</p>
        </mat-tab>
        <mat-tab label="Emboss Seqret">
          <h2>Data Formatting an Conversions</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries,</p>
          <button class="btnFormating" [routerLink]="['/dataFormatting/EmbossSeqret']"
            routerLinkActive="router-link-active">
            Button</button>
        </mat-tab>
        <mat-tab label="Tool Name">
          <h2>Data Formatting an Conversions</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries,</p>
          <button class="btnFormating">Button</button>
        </mat-tab>
        <mat-tab label="Tool Name">
          <h2>Data Formatting an Conversions</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries,</p>
          <button class="btnFormating">Button</button>
        </mat-tab>
        <mat-tab label="Tool Name">
          <h2>Data Formatting an Conversions</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries,</p>
          <button class="btnFormating">Button</button>
        </mat-tab>
        <mat-tab label="Tool Name">
          <h2>Data Formatting an Conversions</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries,</p>
          <button class="btnFormating">Button</button>
        </mat-tab>
        <mat-tab label="Tool Name">
          <h2>Data Formatting an Conversions</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries,</p>
          <button class="btnFormating">Button</button>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
